html,body{

  text-align:center;
    width: 100%;
    background-size: cover;
}
.jumbotron{
  /*transform: translate(0%, -13%);*/
  margin-right: 0%;
  padding-bottom: 20%;
  border-radius: 0%;
}
.container{
  background: white;
  padding: 0;
  padding-bottom: 20%;
}
div{
  padding: 3%;
}
h1{
  padding-left: 4%;
}
